<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

        body {
            font-family: 'Press Start 2P', cursive;
        }

        .nes-progress {
            height: 20px;
        }

        pre {
            margin: 0;
        }

        .container {
            margin: 30px auto;
            max-width: 1080px;
        }

        .server {
            margin-bottom: 3rem;
        }
    </style>
</head>

<body>

    <div class="container">
        <p class="nes-balloon from-left nes-pointer">
            {{top_message}}
        </p>
        <p style="float: right;">Request time: {{now}}</p>
        {% for server in servers %}

        <div class="server">
            <p class="nes-badge" style="width: 100%;">
                <span class="is-dark">{{server.ip}} </span>
            </p>

            {% if server.active %}
            <p>RAM: {{server.ram.info.used}}GB / {{server.ram.info.total}}GB</p>
            <div class="nes-table-responsive">
                <table class="nes-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Memory used</th>
                            <th style="width: 300px;">Util gpu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gpu in server.nvidia_smi.gpu_list %}
                        <tr>
                            <td>{{gpu.index}}</td>
                            <td>{{gpu.name}}</td>
                            <td>
                                <pre>{{"%6sMiB /%6sMiB"|format(gpu.memory_used,gpu.memory_total) }}</pre>
                                <progress class="nes-progress is-success" value="{{gpu.memory_used}}"
                                    max="{{gpu.memory_total}}"></progress>
                            </td>
                            <td>{{gpu.utilization_gpu}} % <progress class="nes-progress is-success"
                                    value="{{gpu.utilization_gpu}}" max="100"></progress></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
            {% for process in server.nvidia_smi.processes%}
            <pre>{{ "%-20s %-30.30s %-10s" | format(process.gpu_name, process.process_name,
                            process.memory_used)}}</pre>
            {% endfor %}
            {% else %}
            service down!
            <!-- 502 or error -->
            {% endif %}
        </div>
        {% endfor %}
        <!-- server end -->

        <a href="https://github.com/kehanlu/server-monitor"><i class="nes-octocat animate"></i></a>
    </div>


</body>

</html>